# Ignore everything by default
*

# Unignore the frontEnd/build directory
!frontEnd/build/

# Keep other necessary files (e.g., package.json, .gitignore)
!.gitignore
!package.json
!package-lock.json
!README.md
